.contenedor-padre{
  width:80%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  color:#ffffff;
}

.contenedor-hijo{
  background-image: url(../img/imagenanimada.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  text-align: justify;
  border-radius: 20px;
}

.contenedor-hijo > div{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

h1{
  font-style: italic;
  padding-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px red;
}

.menu li{
  list-style-type: none;
  display: inline;
}

a{
  display: inline-block;
  background-color: white;
  font-style: italic;
  font-size: 20px;
  color: black;
  padding: 8px;
  text-decoration: none;
  justify-content: space-between;
  transition: color 2s ease;
  border-radius: 15px;
}

a:hover{
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 10px;
}

p{
  font-style: italic;
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 4px blue;
}

h4{
  text-align: center;
}
